[Desktop Entry]
Version=1.0
Type=Application
Name=NetBeans IDE
Comment=Integrated Development Environment
Exec=/root/.local/share/umake/ide/eclipse/eclipse
Icon=/root/.local/share/umake/ide/eclipse/nb/netbeans.png
Path=
Terminal=false
StartupNotify=false
